# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# Virtual environment
venv/
ENV/
env/
env.bak/
env_dev/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
